
#defaultCanvas0{
    width: 100% !important;
    height: auto !important;
}

body {padding: 0;margin: 0; overflow: hidden;}

input[type="button"]{}

#stopGeneration{display: none;}

.buttonList{display: flex;}
#saveCanvas{
  display:none;
}

.flex1{
  flex: 1;
}

.to-right{
  text-align: right;
}

.fade{
  transition: 1000ms;
  opacity: 0;
}

.speed{
  transition: 1000ms;
}

@media (max-width:1180px) {
  body>div.is-flex{
    display: block !important;
  }
}
@media (max-width:840px) {
  body>div>main>div>div:nth-child(1),body>div>main>div>div:nth-child(n+3):nth-child(-n+4){
    align-self: center;
  }
  body>div>main>div>div.is-flex{
    display: block !important;
  }
}
