
#defaultCanvas0{
    width: 40% !important;
    height: 40% !important;
}


body {padding: 0;margin: 0;}

input[type="button"]{}

#stopGeneration{display: none;}

.buttonList{display: flex;}
#saveCanvas{
  display:none;
}
