.footer-mobile{
  display: none;
}
.footer-mobile.gen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  border-top: solid 2px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $background;
  height: fit-content;
  
  
  & > div {
    padding: 0.75em 0;
    display: flex;
    justify-content: space-evenly;
    background: $div_back;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    & > div, & > a {
      border-radius: 100px;
      width: 2em;
      height: 2em;
      /* background: white; */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & div i{
      font-size: xx-large;
    }
  }
  @include lg{
    display: none;
  }
}
.mentions{
  display: none;
  @include lg {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background: $div_back;
    padding: 0.5em;
    transform-origin: center;
    & a {
      color: white;
      width: 100%;
      text-align: center;
    }
  }
}