header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1%;
    & > a{
        text-decoration: none;
        &:nth-child(2n+1){
            & > div{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                border: solid 2px black;
                border-radius: 100px;
                width: 5em;
                height: 5em;
            }
        }
        &:nth-child(2){
            font-size: 65px;
        }
    }
}