#loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  overflow: hidden;
  left: 0;
  top: 0;
  background: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  & > img{
    width: 20%;
    min-width: 150px;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1%;
  height: fit-content;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: $div_back;
  @include lg{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > a {
    text-decoration: none;
    color: white;
    flex: 1;
    text-align: -webkit-center;
    &:hover{
      transform: scale(1.05);
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border-radius: 100px;
      width: 2em;
      height: 2em;
      & > img{
        width: 3em;
      }
      &#is-connected{
        & > i{
          font-size: 2.3em;
        }
      }
    }
    &:last-child{
      order: 4;
    }
    &.generatorButton{
      order: 0;
      @include lg{
        order: 1;
      }
    }
    &.logo {
      order: 1;
      color: white;
      text-align: center;
      & > img{
        width: 7em;
      }
    }
  }
  & > input{
    display: none;
    @include lg{
      display: inline-block;
    }
    order: 2;
    width: 35%;
    background: $background;
    border: white;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    margin-left: 10%;
    color: white;
    &::placeholder{
      color: white;
    }
    &:focus::placeholder{
      color: initial;
    }
  }
}
