.user > div{
  //border: solid thin red;
}

//__________________ design formulaire
.info-box{
  border-bottom: solid 2px $div_back;
  padding-bottom: 10px;
  & :nth-child(n){
    font-size: 11.5px;
  }
}

.label-form{
  color: $lighter-grey;
}

.data-form{
  height: 100%;
  display: flex;
  & .data-form-user-input{
    background: black;
    color: white;
    border: none;
    border-bottom: solid thin $div_back;
    border-radius: 4px;
    background: $background !important;
  }
}

.button-form{
  border-radius: 4px;
  border: none;
  background: $div_back;
  color: white;
}








//__________________CSS de la page

.user{
  background: $background;
  color: white;
  margin-top: 8vh;
  height: 71.7vh;;
  & .grid{
    height: 100%;
    margin: 0px 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 6fr repeat(3,1fr) 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    & .pdp-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      grid-column: 1 / span 4;
      align-items: center;
      justify-content: center;
      & .pdp-box{
        width: 20vw;
        height: 20vw;
        border: solid thin white;
        border-radius: 100%;
        & img{
          //ma PDP
        }
      }
      & div:nth-child(2){
        margin-top: 10px;
        & p{
            width: 20vw;
            text-align: center;
            font-size: 10px;
            color: $lighter-grey;
        }
      }
    }
    & .info-box1.top{ //1ere des infobox, permet de lui mette une ligne en plus
      border-top: solid 2px $div_back;
      padding-top: 10px;
    }
    & .info-box1{ //Nom utilisateur + Email
      grid-column: 1 / span 4;
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-column-gap: 5px;
      border-bottom: solid 2px $div_back;
      padding-bottom: 10px;
      & .label-form-user{
        grid-row: 1 / span 1;
      }
      & .data-form-user{ //div contenant input + Span
        grid-row: 2 / span 1;
        height: 100%;
        & .data-form-user-input{ //l'input en question
          width: 90%;
          height: 25px;
        }
      }
      & .button-form-user{
        grid-row: span 2;
        width: 100%;
      }
    }


    & .info-box-mdp{ // reprend les mêmes élément, mais ici on veut faire un grid différent pour mettre d'avantage d'éléments (data-form, button-form, label-form)
      grid-column: 1 / span 4;
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: repeat(2, 1fr 2fr);
      grid-column-gap: 5px;
      border-bottom: solid 2px $div_back;
      padding-bottom: 10px;
      & .label-form-user{
        grid-row: 1 / span 1;
      }
      & .data-form-user{
        grid-row: 2 / span 1;
        height: 100%;
        & .data-form-user-input{
          width: 90%;
          height: 25px;
        }
      }
      & .label-form-user-confirm{
        grid-row: 3 / span 1;
      }
      & .data-form-user-confirm{
        grid-row: 4 / span 1;
        height: 100%;
        & .data-form-user-input{
          width: 90%;
          height: 25px;
        }
      }
      & .button-form-user{
        grid-row: 2 / span 2;
        width: 100%;
      }
    }



    & .osef-tous{
      height: 100%;
      width: 100%;
      grid-column: span 4;
      font-size: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      & p{
        text-align: center;
      }
    }
  }
}
