@import "parts/imports";
@import "parts/mediaQueries";
@import "parts/colors";
@import "parts/header";
@import "parts/accueil";
@import "parts/generator";
@import "parts/user";
@import "parts/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: $background;
}

.hidden{
  display: none !important;
}

.footer-mobile{
  @include lg{
    display: none;
  }
}